html {
    scroll-behavior: smooth;
}

body {
background: linear-gradient(120deg, #0b0f1a, #0a1f2f, #083a3d);
  
}
#dynamic-text{
    margin-left: 10px;
    color: #00d9ff;
    transition: opacity 0.6s ease;
}
#dynamic-text{
    margin-left: 10px;
    color: #00d9ff;
    text-shadow: 0 0 8px rgba(0,217,255,0.6);
    transition: opacity 0.6s ease;
}

#start {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 20px 40px;
    margin: 20px;

    border-radius: 20px;

    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(10px);

    border: 1px solid rgba(255,255,255,0.1);
}

#projects {
  scroll-margin-top: 80px; /* navbar height */
  text-align: center;
  color: rgb(247, 245, 248);
}

.nav-link {
    display: inline-block;
    cursor: pointer;

    text-decoration: none;
    color: white;
    font-weight: 500;

    padding: 8px 18px;
    white-space: nowrap;
    border-radius: 30px;

    background: linear-gradient(135deg, #00c6ff, #0072ff);

    transition: all 0.3s ease;
}

.nav-link:hover {
    transform: scale(1.15);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    background: linear-gradient(135deg, #0072ff, #00c6ff);
}


#logo {
  font-size: 20px;
  font-family: 'Times New Roman', Times, serif;
  color: #6c63ff;
  border-radius: 50%;
  margin-left: 20px;
  align-content: center;
}

#name {
  color: rgb(245, 241, 241);
  font-size: 50px;
  font-family: 'Times New Roman', Times, serif;
}

.name {
background: linear-gradient(90deg, #6a7cff, #2ecbff);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
  font-family: 'Times New Roman', Times, serif;
  font-size: 50px;
}


.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;

 background: linear-gradient(145deg, #0f172a, #111827);
    box-shadow: 0 10px 30px rgba(0,0,0,0.4);
  padding: 20px 40px;
  margin: 20px;
  border-radius: 15px;
}

#header-description {
  font-family: 'Times New Roman', Times, serif;
  font-size: 24px;
  color: #fefefe;
}

#profile-photo {
  width: 280px;
  height: 280px;
  border-radius: 50%;
  border: 2px dotted #b2afeb;
}

#walchand-logo {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid #b2afeb;
}

.education-card {
    display: flex;
    align-items: center;
    gap: 25px;
    margin: 20px auto;
    padding: 25px 35px;
    border-radius: 18px;
    flex-wrap: wrap;
    background: linear-gradient(145deg, #0f172a, #111827);
    box-shadow: 0 10px 30px rgba(0,0,0,0.4);

    max-width: 750px;
}


.edu-icon {
    width: 80px;
    height: 80px;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    font-size: 32px;

    border-radius: 50%;
    background: linear-gradient(135deg, #4f46e5, #06b6d4);
}


.edu-text h2 {
    color: #e5e7eb;
    font-size: 26px;
    font-weight: 600;
    margin-bottom: 6px;
}

.edu-text h3 {
    color: #22d3ee;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 6px;
}

.edu-text p {
    color: #9ca3af;
    font-size: 15px;
}

.header-name {
  font-family: 'Times New Roman', Times, serif;
  font-size: 36px;
  font-weight: bold;
}

.header-photo img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
  border: 4px solid #6c63ff;
}

#skills{
    padding: 40px 20px;
}

.section-title{
    text-align: center;
    margin-bottom: 30px;
    color: rgb(248, 245, 245);
}

.sub-title{
    margin-top: 30px;
    text-align: center;
    color: rgb(248, 245, 245);
}


.skills-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(130px, 1fr));
    gap: 25px;
    margin-top: 20px;
}


.skill-card{
    text-align: center;
    padding: 20px;
    background: rgba(255,255,255,0.08);
    backdrop-filter: blur(10px);
    border-radius: 15px;
    transition: 0.3s;
}

.skill-card:hover{
    transform: translateY(-5px);
    box-shadow: 0 0 20px #00d9ff;
}
.skills-name{
    color: rgb(248, 245, 245);
}

.skill-icon{
    width: 80px;
    height: 80px;
    object-fit: contain;
    border-radius: 20px;
    border: 2px solid #00d9ff;
}


.skill-card h3{
    margin-top: 10px;
}

#contact-info {
  font-family: 'Times New Roman', Times, serif;
  margin-top: 50px;
  font-size: 30px;
  text-align: center;
}
.contact-icon {
    width: 55px;
    height: 55px;
    padding: 12px;

    background: linear-gradient(135deg, #4f46e5, #06b6d4);
    border-radius: 50%;

    border: 1px solid rgba(255,255,255,0.2);
    backdrop-filter: blur(8px);
    
    transition: 0.3s ease;
    cursor: pointer;
}
.experience-card {
    display: flex;
    align-items: center;
    gap: 25px;
    margin: 20px auto;
    padding: 25px 35px;
    border-radius: 18px;

    background: linear-gradient(145deg, #0f172a, #111827);
    box-shadow: 0 10px 30px rgba(0,0,0,0.4);

    max-width: 750px;
}
#Linux-icon{
  margin-top: 10px;
  margin-left: 200px;
  margin-right: 200px;
}

#wlug{
  color :rgb(245, 241, 241);
  font-size: 20px;
}

#program-director{
  color :rgb(245, 241, 241);
  font-size: 20px;
}
.experience-date{
  color : #22d3ee;  
  font-size: 18px;
}

#experience-description{
  color : rgb(245, 241, 241);
  font-size: 18px;
}

.experience-icon-img{
     width: 150px;
  height: 150px;
  margin-left: 20px;
  margin-top: 10px ;
  border-radius: 50%;
  object-fit: cover;
  border-radius: 40px;
  align-items: center;

}
#projects-container {
    display: flex;
    justify-content: center;
    gap: 60px;
    flex-wrap: wrap;
    margin-top: 40px;
}

.project-card {
    display: flex;
    gap: 20px;
    align-items: center;
    width: 450px;
    padding: 20px;
    background: rgba(255,255,255,0.08);
    backdrop-filter: blur(12px);
    border: 1px solid rgba(255,255,255,0.2);
    border-radius: 20px;
    box-shadow: 0 8px 30px rgba(0,0,0,0.3);

    transition: 0.3s;
}

.project-card:hover {
    transform: translateY(-8px);
        box-shadow: 0 0 20px #00d9ff;

}

.project-img {
    width: 140px;
    height: 140px;
    object-fit: cover;
    border-radius: 15px;
}

.project-text {
    color: rgb(248, 245, 245);
}

.project-title {
    margin-bottom: 8px;
}

.project-text a {
    text-decoration: none;
    color: #00d9ff;
    font-weight: bold;
}
.project-text a:hover {
    text-decoration: underline;
}
#contact {
    padding: 60px 20px;
    text-align: center;
}

.contact-heading {
    font-size: 32px;
    margin-bottom: 40px;
    color: white;
}

.contact-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    max-width: 1000px;
    margin: auto;
}

.contact-card {
    text-decoration: none;
    background: rgba(255,255,255,0.08);
    padding: 35px 20px;
    border-radius: 20px;
    backdrop-filter: blur(10px);
    transition: 0.3s ease;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-card:hover {
    transform: translateY(-8px);
    background: rgba(0, 200, 255, 0.2);
    box-shadow: #00c6ff 0px 0px 20px;
}

.icon-circle {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    background: rgba(255,255,255,0.1);

    display: flex;
    align-items: center;
    justify-content: center;

    overflow: hidden;
    margin-bottom: 15px;
}

.contact-icon {
    font-size: 42px;
    line-height: 1;
}

.contact-card h3 {
    font-size: 18px;
    font-weight: 500;
}

@media (max-width: 900px) {
    .contact-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 500px) {
    .contact-container {
        grid-template-columns: 1fr;
    }
}
.footer{
    margin-top: 60px;
    padding: 20px;
    text-align: center;
    font-size: 14px;
    background: rgba(255,255,255,0.05);
    backdrop-filter: blur(8px);
    border-top: 1px solid rgba(255,255,255,0.15);
    color: #ccc;
    letter-spacing: 1px;
}
.footer p{
    transition: 0.3s;
}

.footer p:hover{
    color: #00d9ff;
}

